# Allow PHP execution
<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# Set CORS headers
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, X-MDT-Token, X-MDT-Full-Key"
</IfModule>
